# Ex1 - Getting and knowing your Data

### Step 1. Go to [Dataset_link](https://www.kaggle.com/zhangjuefei/birds-bones-and-living-habits)

* There are many kinds of birds: pigeons, ducks, ostriches, penguins… Some are good at flying, others can't fly but run fast. Some swim under water, others wading in shallow pool.

* *According to their living environments and living habits, birds are classified into different ecological groups. There are 6 ecological groups of birds:*


- Swimming Birds
- Wading Birds
- Terrestrial Birds
- Raptors
- Scansorial Birds
- Singing Birds

###  Step 2. Download the dataset to your computer and unzip it.

### Step 3. Use the Csv file and assign it to a dataframe called birds

### Step 4. See the random 5 entries

### Step 5. What is the number of observations in the dataset?

### Step 6. What is the number of columns in the dataset?

### Step 7. Print the name of all the columns.

### Step 8. What is the name of 10th column?

### Step 9. What is the type of the observations of the 2th column?

### Step 10. How is the dataset indexed?

### Step 11. Set the 'type' colum as the index of the dataframe¶

### Step 12. Print only the column huml

### Step 13. Print the "huml","humw" columns from SW and P

### Step 14. Select the rows 3 to 7 and the columns 3 to 6

### Step 15. Select rows where df.femw is greater than  5.2 or less than 10.5

### Step 16. Select the third cell down in the column named tarl

### Step 17. Compute how many values are non-missing for each feature  over the entire record.

### Step18. Calculate Mean and Median of "tibl" and "tibw" columns

### Step19. Discover what is the mean "ulnaw" per every bird category  (use Groupby)

### Step20. Plot graph between all features refuse "type" and "id"  columns

# TASK

* Download market_fact.csv dataset and work on it 
* Find out Total profit of this order ids "Ord_1931" and "Ord_542"
* Find which order cust_id gets more profit